In [2]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [3]:
#Load Sample
df = pd.read_csv('data/raw/sample_customer_data.csv')
df.head()

,customer_id,gender,months_subscribed,subscription_type,streaming_quality,payment_mode,monthly_plan_cost,total_revenue,subscription_canceled,app_usage_hours,customer_rating,promo_email_clicks,device_type
0,CUST_00000,Male,31,Annual,Standard,Credit Card,385.42,12333.44,No,4.23,5,1,Mobile
1,CUST_00001,Female,38,Monthly,Standard,Wallet,275.22,10733.58,No,3.61,2,8,Mobile
2,CUST_00002,Male,31,Monthly,Premium,Wallet,153.50,4912.00,No,1.97,5,2,Mobile
3,CUST_00003,Male,3,Annual,Premium,Wallet,453.81,1815.24,Yes,5.33,4,4,SmartTV
4,CUST_00004,Male,29,Monthly,Premium,Debit Card,221.75,6652.50,Yes,4.89,5,9,SmartTV

In [4]:
df.info()
df.describe(include='all')
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            200 non-null    object
 1   gender                 200 non-null    object
 2   months_subscribed      200 non-null    int64
 3   subscription_type      200 non-null    object
 4   streaming_quality      200 non-null    object
 5   payment_mode           200 non-null    object
 6   monthly_plan_cost      200 non-null    float64
 7   total_revenue          200 non-null    float64
 8   subscription_canceled  200 non-null    object
 9   app_usage_hours        200 non-null    float64
 10  customer_rating        200 non-null    int64
 11  promo_email_clicks     200 non-null    int64
 12  device_type            200 non-null    object
dtypes: float64(3), int64(3), object(7)
memory usage: 20.4+ KB

customer_id              0
gender                   0
months_subscribed        0
subscription_type        0
streaming_quality        0
payment_mode             0
monthly_plan_cost        0
total_revenue            0
subscription_canceled    0
app_usage_hours          0
customer_rating          0
promo_email_clicks       0
device_type              0
dtype: int64

In [ ]:
#Simple Plot
# Count occurrences of each category
counts = df['subscription_canceled'].value_counts()

# Create a bar chart
plt.bar(counts.index, counts.values)
plt.title('Churn distribution (sample)')
plt.show()

# The end